{
    "presets": [
        [
            "@babel/preset-env"
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "import",
            {
                // 按需加载 antd 的 css
                "libraryName": "antd",
                "libraryDirectory": "es",
                // style: true 会加载 less 文件
                "style": "css"
            }
        ]
    ]
}