@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color: blueviolet;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

@layer components {
  .border-1 {
    border-width: 1px;
  }
  .vertical-lr {
    writing-mode: vertical-lr;
  }
  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ding {
    color: var(--color);
  }
  .ding1 {
    color: yellowgreen;
  }
  .style-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  .d3 {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  .translate-z-10 {
    transform: translateZ(10px);
  }
  .translate-z-20 {
    transform: translateZ(20px);
  }
  .translate-z-30 {
    transform: translateZ(30px);
  }
  .shadow-bulge {
    box-shadow: -5px -5px 5px 0 rgba(216, 216, 216, 0.1),
      5px 5px 5px 0 rgba(0, 0, 0, 0.1),
      0 0 10px 0 rgba(100, 100, 100, 0.1) inset;
    background-color: transparent;
  }
  .shadow-bulge-inset {
    box-shadow: -3px -3px 3px 0 rgba(216, 216, 216, 0.1) inset,
      3px 3px 3px 0 rgba(0, 0, 0, 0.1) inset,
      0 0 10px 0 rgba(100, 100, 100, 0.1);
  }
}
